html {
    background: url('https://tommycoutecommunity-developer-edition.na81.force.com/lmnop/resource/1547501840000/MovieTheater')
        no-repeat center top; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 1740px;
}

body {
    background-color: unset;
    color: black;
    font-size: 22pt;
    font-family: 'Nanum Pen Script', sans-serif;
}

.titan {
    font-family: 'Titan One', cursive;
}

.lmnopHeader {
    height: auto;
}

.lmnopLogo {
    margin: 100px auto;
    width: 680px;
}

.lmnopIcon {
    float: left;
    width: 160px;
}

.lmnopIcon-r1 {
    border: 15px solid gold;
    border-radius: 50%;
    float: left;
    height: 50px;
    margin: 13px 0px 0px 4px;
    width: 50px;
}

.lmnopIcon-r2 {
    border: 15px solid gold;
    border-radius: 50%;
    height: 60px;
    margin: 0px 0px -9px 0px;
    left: 54px;
    position: relative;
    width: 60px;
}

.lmnopIcon-box {
    background-color: gold;
    border-radius: 10px;
    color: black;
    font-size: 50px;
    height: 60px;
    line-height: 40px;
    padding: 8px;
    width: 120px;
}

.lmnopIcon-lens {
    border: 20px solid transparent;
    border-right: 40px solid gold;
    height: 0px;
    left: 80px;
    position: relative;
    top: -50px;
    width: 0px;
    z-index: -1;
}

.lmnopIcon-b1 {
    background-color: gold;
    height: 15px;
    left: 60px;
    position: relative;
    top: -46px;
    transform: rotate(33deg);
    width: 30px;
}

.lmnopIcon-b2 {
    background-color: gold;
    height: 15px;
    left: 29px;
    position: relative;
    top: -61px;
    transform: rotate(-33deg);
    width: 30px;
}

.lmnopHeader h1 {
    padding-top: 64px;
    margin: 0px;
    text-shadow: 6px 6px 6px darkgoldenrod;
}

.lmnopLogo h1 {
    margin: 10px;
    text-shadow: 6px 6px 6px darkgoldenrod;
}

.lmnopLogo h1.l {
    font-size: 1.5em;
    margin-bottom: -20px;
    text-shadow: none;
}

.lmnopLogo h1.op {
    font-size: 1.5em;
    text-align: right;
    text-shadow: none;
}

.nav-tabs {
    border: 0px;
}

h1 {
    color : gold;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    margin-top: 0px;
}

h2.black {
    color: black;
    margin-top: 15px;
}

h2.gold {
    color: gold;
    text-shadow: 6px 6px 6px black;
}

h3 {
    color: black;
    font-size: 1.5em;
}

a, a:hover {
    color: gold;
    text-decoration: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: gold !important;
    background-image: linear-gradient(to bottom, gold, darkgoldenrod 100%) !important;
    border: 0px;
    color: black;
    font-size: 1em;
}

.requestForm {
    display: none;
	font-size: 1.5em;
}

.form-control {
    font-size: 1em;
    height: 1.5em;
}

div#blankSearch {
    margin: 30px 30px 10px 30px;
}

div#searchResults {
    color: white;
}

.silverback {
    background-color: #ffffff7f;
    border-radius: 8px;
    margin: 30px;
    padding: 30px 27px 30px 30px;
}

.lmnopLogin {
    font-size: 1.5em;
    padding-bottom: 10px;
}

.lmnopLogin div {
    margin-bottom: 20px;
}

.lmnopLogin input {
    border: 2px solid gray;
    border-radius: 8px;
    width: 100%;
}

.lmnopLogin input.login {
    border: none;
    float: left;
    margin-top: 20px;
    width: 50%;
}
.lmnopLogin button.password {
    margin: 20px 0px 0px 20px;;
    padding: 0px 24px;
}

.lmnopLogin .forgotPassword {
    text-align: center;
    text-shadow: 6px 6px 6px black;
}

.findMovie {
    display: flex;
    font-size: 1.5em;
}

.findMovie input {
    flex: 1;
    padding: 10px 25px;
}

.findMovie button {
    padding: 10px 25px;
}

div.lmnopTabs>ul {
    margin: -30px -30px 15px -30px;
    text-align: center;
}

div.lmnopTabs>.nav-tabs>li {
    width: 50%;
}

div.lmnopTabs>.nav-tabs>li>a {
    background-color: black;
    font-size: 1.5em;
    font-weight: bold;
}

div.lmnopTabs>.nav-tabs>li.active>a {
    background-color: silver;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.goldback {
    background-color: #ffd70180;
    border: 15px solid gold;
    margin: 30px 0px;
}

.goldback.lmnopPlanned {
    background-color: gold;
}

.goldback h2, .goldback p {
    color: black;
}

.clickable {
    color: gold;
}

.grayback {
    background-color: #707070;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 30px 3px;
    padding: 30px;
}

div#blankSearch {
    display: none;
}

div#searchResults {
    background-color: black;
    margin-top: 30px;
    padding: 30px;
}

.searchResult {
    display: table;
    margin-top: 30px;
}

.searchResult img {
    border: 4px solid gold;
    margin-right: 25px;
}

.searchResult div {
    color: gold;
    display: table-cell;
    font-size: 1.5em;
    vertical-align: middle;
}

.lmnopFooter {
    text-align: center;
}