/* atomic */

.black {
    color: black;
}

.gold {
    color: gold;
}

.titan {
    font-family: 'Titan One', cursive;
}

.width-100p {
    width: 100%;
}

/* elements */

html {
    background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 750px;
    font-size: 22px;
}

@media (min-width: 768px) {
    html {
        background-size: auto 1080px;
    }
}

body {
    background-color: unset;
    color: black;
    font-size: 1rem;
    font-family: 'Nanum Pen Script', sans-serif;
    line-height: 1em;
}

h1 {
    color : gold;
    font-size: 24px;
}

h2 {
    font-size: 20px;
    margin: 10px 0px 5px 0px;
}

a, a:hover {
    color: gold;
    text-decoration: none;
    word-break: break-all;
}

/* general classes */

.container {
    max-width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-tabs {
    border: 0px;
}

.btn {
    background-image: unset !important;
    border-radius: 4px;
    box-shadow: none;
    font-size: .8em;
    padding: 4px;
    text-shadow: none;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    background-color: gold !important;
    border: 1px solid gray !important;
    color: black !important;
}

.silverback {
    background-color: #ffffff7f;
    border-radius: 4px;
    margin: 10px 0px;
    padding: 10px;
}

.clickable {
    color: gold;
}

.form input, .form select, .form textarea, .form .btn-disabled {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 5px;
    min-height: 35px;
    padding-left: 4px;
    width: 100%;
}

.form .btn-disabled {
    background-color: lightgray;
    font-size: 1rem;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
}

.formGroup {
    margin-bottom: 5px;
}

/* header/logo classes */

.lmnopLogo {
    margin: 34px auto 60px auto;
    width: 243px;
}

@media (min-width: 768px) {
    .lmnopLogo {
        margin: 66px auto 144px auto;
    }
}

.lmnopIcon {
    cursor: pointer;
    float: left;
    height: 55px;
    width: 65px;
}

.lmnopIcon-r1 {
    border: 7px solid gold;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 7px 0px 0px 1px;
    width: 20px;
}

.lmnopIcon-r2 {
    border: 7px solid gold;
    border-radius: 50%;
    height: 26px;
    margin: 0px 0px -4px 0px;
    left: 21px;
    position: relative;
    width: 26px;
}

.lmnopIcon-box {
    background-color: gold;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    height: 26px;
    line-height: 18px;
    padding: 4px;
    width: 48px;
}

.lmnopIcon-lens {
    border: 8px solid transparent;
    border-right: 20px solid gold;
    height: 0px;
    left: 29px;
    position: relative;
    top: -21px;
    width: 0px;
    z-index: -1;
}

.lmnopIcon-b1 {
    background-color: gold;
    height: 6px;
    left: 11px;
    position: relative;
    top: -18px;
    transform: rotate(-33deg);
    width: 12px;
}

.lmnopIcon-b2 {
    background-color: gold;
    height: 6px;
    left: 24px;
    position: relative;
    top: -24px;
    transform: rotate(33deg);
    width: 12px;
}

.lmnopLogo h1 {
    font-size: 28px;
    margin: 0px;
}

.lmnopLogo h1.l {
    font-size: 20px;
    margin-bottom: -8px;
    padding-top: 4px;
}

.lmnopLogo h1.op {
    font-size: 20px;
    margin-top: -2px;
    text-align: right;
}

.lmnopHeader {
    height: auto;
    margin: -6px 0px 15px -10px;
}

@media (min-width: 758px) {
    .lmnopHeader {
        margin: 20px 0px 15px 0px;;
    }
}

.lmnopHeader h1 {
    padding-top: 21px;
    margin: 0px;
}

/* error pages */

table.topPanelContainer {
    background-color: #ffffff7f;
    border-radius: 4px;
    margin-top: -50px;
}

td img {
    display: none;
}

div.messageText {
    color: #cc0000;
    margin-bottom: 15px;
}

/* login pages */

.requestForm {
    display: none;
}

.form-control {
    height: 1.5em;
}

.lmnopLogin {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.lmnopLogin div {
    margin: -5px 0px 10px 0px;
}

.lmnopLogin input {
    border: 1px solid gray;
    border-radius: 4px;
    padding-left: 4px;
    width: 100%;
}

.lmnopLogin input.login {
    border: none;
    float: left;
    width: 50%;
}

.lmnopLogin .formSubmit {
    display: block;
    padding-top: 10px;
}

.lmnopLogin .forgotPassword, .lmnopLogin .newUser {
    line-height: 1em;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

div.newUser {
    margin-top: 10px;
}

.lmnopLogin.register, .lmnopLogin.about {
    margin-top: -22px;
}

/* welcome page */

.confirmation {
    cursor: pointer;
}

.confirmation input {
    height: 1em;
    width: 1em;
}

.confirmation label {
    vertical-align: text-bottom;
}

.disclaimer .accept, .disclaimer .logout {
    margin: 10px 0px;
    width: 100%;
}

.disclaimer .accept {
    display: none;
}

/* profile page */

.options {
    margin-bottom: 10px;
    width: 100%;
}

.formGroup select {
    height: 35px;
}

.formSubmit {
    display: flex;
    margin-top: 10px;
}

.formSubmit input {
    flex: 1;
    margin-right: 5px;
}

.formSubmit a {
    flex: 1;
    height: 35px;
    margin-left: 5px;
}

@media (min-width: 768px) {
    .options {
        padding-left: 10px;
        padding-right: 10px;
        width: unset;
    }
    
    .formRow {
        display: flex;
    }
    
    .formGroup {
        flex: 1;
    }
    
    .formGroup.left {
        margin-right: 10px;
    }
}

/* new movie night page */

.contact {
    background-color: transparent;
    border: 1px dashed gold;
    border-radius: 4px;
    color: gold;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    margin-bottom: 5px;
    padding: 0px 4px;
    text-shadow: 1px 1px 2px black;
}

.contact i {
    display: none;
}

.contact.selected {
    background-color: gold;
    border: 1px solid black;
    color: black;
    text-shadow: none;
}

.contact.selected i {
    display: inline-block;
}

/* movienight pages */

.findMovie {
    display: flex;
}

.findMovie input {
    flex: 1;
    /* padding: 10px 25px; */
}

.findMovie button {
    /* padding: 10px 25px; */
}

div.lmnopTabs>ul {
    /* margin: -30px -30px 15px -30px; */
    text-align: center;
}

div.lmnopTabs>.nav-tabs>li {
    width: 50%;
}

div.lmnopTabs>.nav-tabs>li>a {
    background-color: black;
    font-weight: bold;
}

div.lmnopTabs>.nav-tabs>li.active>a {
    background-color: silver;
    color: black;
    font-weight: bold;
}

.goldback {
    background-color: #ffd70180;
    /* border: 15px solid gold;
    margin: 30px 0px; */
}

.goldback.lmnopPlanned {
    background-color: gold;
}

.goldback h2, .goldback p {
    color: black;
}

.grayback {
    background-color: #707070;
    /* margin: 30px 3px;
    padding: 30px; */
}

.searchResult {
    display: table;
    /* margin-top: 30px; */
}

.searchResult img {
    /* border: 4px solid gold;
    margin-right: 25px; */
}

.searchResult div {
    color: gold;
    display: table-cell;
    vertical-align: middle;
}

/* ids */

div#blankSearch {
    /* margin: 30px 30px 10px 30px; */
}

div#searchResults {
    color: white;
}

div#blankSearch {
    display: none;
}

div#searchResults {
    background-color: black;
    /* margin-top: 30px;
    padding: 30px; */
}

#lmnopFooter {
    background: linear-gradient(#00000000, #000000);
    bottom: 0px;
    font-size: .8em;
    position: absolute;
    text-align: center;
    width: 100%;
}

#lmnopFooter a {
    color: silver;
}